<div id = "title">
    <h1>{{title}}</h1>
</div>
<div *ngIf="chara" id="detail">
    <h2>{{chara.name}} Details</h2>
    <div><span>id: </span>{{chara.id}}</div>
    <div>
        <label for="chara-name">Character name: </label>
        <input #box id="chara-name" [(ngModel)]="chara.name" placeholder="name">
    </div>
</div>
<div style="display: flex; flex-wrap: nowrap; justify-content: space-around;">
    <button (click)="goBack()">Back</button>
    <button (click)="deleteGoBack()">Delete</button>
    <button (click)="saveGoBack()">Save</button>
</div>
