h1 {
    margin: 0px;
    color: #081c2d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
    background-color: #BCE3E8;
    text-align: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    box-shadow: 7px 7px 10px #34B1C7;
    margin-bottom: 10px;
    width: 97%;
}

#detail {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #BCE3E8;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #34B1C7;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 330px;
    width: 110%;
}