<header>
  <img src="../assets/image/Genshin_Impact_logo.png" id="logoSize">
  <a href="/characterList/"><img src="../assets/image/user-icon.png" id="userLogo"></a>
  <a href="/pie-chart/"><img src="../assets/image/pie-chart-icon.png" id="pieChartLogo"></a>
</header>
<main>
  <div class="center">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
    <p>This is a non-profit, personal project, created for learning.</p>
    <p>© All rights reserved by miHoYo. Other properties belong to their respective owners.</p>
</footer>