body {
    background: url("../assets/image/Monstadt_back.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#logoSize {
    max-height: 100px;
    height: auto;
}
main {
    text-align: center;
    display: block;
}


