<div id = "title">
    <h1>{{title}}</h1>
</div>
<div>
    <select id="sortBy" [(ngModel)]="sortBy" onchange="getCharas()">
        <option value="Default">Default</option>
        <option value="Level">By Level</option>
        <option value="Alpha">By Name</option>
    </select>
    <button (click)="addNewCharacter()">Add</button>
</div>
<div id="list">
    <ul class="charas">
        <li *ngFor="let chara of characters">
            <a href="/detail/{{chara.id}}"> {{chara.name}} </a> 
            <a href="/detail/{{chara.id}}"><img src="../assets/image/{{chara.vision}}.png" class="image"></a>
            <p class="level"><strong>Lvl </strong>{{chara.currentLevel}}</p>
            <p class="affili"><strong>Affiliation: </strong> {{chara.affiliation}}</p>
            <hr>
        </li>
    </ul>
</div>

