<div id = "title">
    <h1>{{title}}</h1>
</div>
<div>
    <select id="sortBy" [(ngModel)]="sortBy" (ngModelChange)="getCharas()">
        <option value="Default">Default</option>
        <option value="Level">By Level</option>
        <option value="Name">By Name</option>
    </select>
    <button (click)="addNewCharacter()">Add</button>
</div>
<div id="list">
    <div style="display: flex;">
        <select id="elementsPerPage" [(ngModel)]="elementsPerPage" (ngModelChange)="getCharas()">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>
    <ul class="charas">
        <li *ngFor="let chara of characters | paginate: {itemsPerPage: elementsPerPage, currentPage: currentPage, totalItems: totalEntries}">
            <a href="/detail/{{chara.characterId}}"> {{chara.name}} </a> 
            <a href="/detail/{{chara.characterId}}"><img src="../assets/image/{{chara.vision}}.png" class="image"></a>
            <p class="level"><strong>Lvl </strong>{{chara.currentLevel}}</p>
            <p class="affili"><strong>Affiliation: </strong> {{chara.affiliation}}</p>
            <hr>
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <pagination-controls (pageChange)="updatePage($event)"></pagination-controls>
    </div>
</div>

