<div id = "title">
    <h1>{{title}}</h1>
</div>
<div id="detail">
    <div>
        <div class="labels">
            <label for="user-name">User name: </label>
            <input for="user-name" [(ngModel)]="user.userName">
        </div>
        <div class="labels">
            <label for="password">Password: </label> 
            <input id="password" [(ngModel)]="user.userPassword" type="password" required>
        </div>
        <div class="labels">
            <label for="confirmPassword">Confirm password: </label> 
            <input id="confirmPassword" [(ngModel)]="confirmPassword" type="password" required>
        </div>
        <span><b>{{getErrorMessage()}}</b></span>
    </div>
</div>
<div style="display: block; text-align: center;">
    <button (click)="register()">Register</button>
    <p>Already have an account?  <a href="/login">Log In</a></p>
</div>
